name: Build

on:
  workflow_dispatch:

jobs:
  build-train-test:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: pip install -r requirements/requirements.txt 

      - name: Train Model
        run: python bikeshare_model/train_pipeline.py

      - name: Run Prediction
        run: python bikeshare_model/predict.py
        
      - name: Install Test Dependencies
        run: pip install -r requirements/test_requirements.txt 

      - name: Test Model
        run: pytest

      - name: Install Build Dependencies
        run: pip install build

      - name: Build Package
        run: |
          python -m build
          mv dist/*.whl .

      - name: Install FastAPI Dependencies
        run: pip install -r bike_sharing_api/requirements.txt

      - name: Start FastAPI (Test Only)
        run: python bike_sharing_api/app/main.py &

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: 'sudhirttit'
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: sudhirttit/amazon-compute:latest


  deploy:
    runs-on: self-hosted  # Executes on the EC2 instance
    needs: build-train-test
    steps:
      - name: Pull Latest Docker Image
        run: docker pull sudhirttit/amazon-compute:latest

      - name: Stop and Remove Old Container
        run: |
          docker stop bike-rental-api || true
          docker rm bike-rental-api || true

      - name: Run New API Container
        run: |
          docker run -d --name bike-rental-api -p 8001:8001 sudhirttit/amazon-compute:latest
          docker logs bike-rental-api
